body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 1fr 3fr;*/
    grid-gap: 50px;
    max-width: 100vw;
    min-height: 100vh;
    font-family: monospace;
}

section {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

textarea {
    font-family: inherit;
    font-size: inherit;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.terminal {
    background-color: #424242;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    min-height: 200px;
}

.terminal p,
.terminal textarea {
    margin-top: 30px;
    color: #00C853;
    word-break: break-all;
    white-space: normal;
    font-size: 1.2em;
    background-color: #424242;
    width: 100%;
    height: calc(100% - 20px);
    outline: none;
    border: none;
}

.yellow,
.yellow::before,
.yellow::after {
    background-color: #FFCC03;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    content: '';
    position: absolute;
    border: none;
    outline: none;
    transform: translateX(20px);
}

.yellow::before {
    background-color: #FF453A;
    transform: translateX(-20px);
}

.yellow::after {
    background-color: #2FD74B;
    transform: translateX(20px);
}

.btn {
    padding: 10px;
    align-self: center;
    border-radius: 10px;
    margin: 10px;
    background-color: #959b9d;
    outline: none;
    color: white;
}

.btn:hover {
    background-color: #424242;
    cursor: pointer;
}

.chat-area {
    display: flex;
    flex-direction: column;
}

.conversation {
    overflow-y: scroll;
    min-height: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    background-image: url("/background.png");
    border-radius: 10px 10px 0 0;
}

.message-area {
    display: flex;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 0 0 10px 10px;
}

.message-area textarea {
    width: 100%;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 20px 0 0 20px;
    padding: 10px;
    margin: 5px 0;
    outline: none;
}

.message-area button {
    background-color: #959b9d;
    height: 50px;
    width: 50px;
    align-self: center;
    color: white;
    border-radius: 0 20px 20px 0;
    outline: none;
}

.bob-says {
    align-self: flex-end;
    background-color: #dcf8c6;
    border-radius: 7.5px;
    padding: 10px;
    max-width: 50%;
    margin: 0 0 12px 0;
}

.bob-says::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    transform: translateX(5px) translateY(-5px) rotate(45deg);
    background-color: #dcf8c6;
}

.alice-says {
    align-self: flex-start;
    background-color: #ffffff;
    border-radius: 7.5px;
    padding: 10px;
    max-width: 50%;
}

.alice-says::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    transform: translateX(-15px) translateY(-5px) rotate(45deg);
    background-color: #ffffff;
}

.controls {
    display: flex;
    justify-content: center;
}
